.table {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border: none;
}
.table .image {
  width: 30px;
}
.table .symbol {
  font-size: 12px;
}
.table tbody,
.table thead {
  border-color: rgba(0, 0, 0, 0.211) !important;
}
.table td {
  line-height: 3;
}
.table thead {
  position: sticky;
  top: 0px;
  background-color: #fff;
}
.loader {
  width: 50px;
}

@media screen and (max-width: 768px) {
  .table tbody svg {
    width: 150px;
  }
}
